<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internationalization Languages and Time zones</title>
</head>
<body>

<h1>{% trans 'msg' %}</h1>

<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ lang.1 }} ({{ lang.0 }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form>
</body>
</html>